<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Celeste Glavin</title>

  <meta name="description" content="Celeste Glavin is a designer and developer of websites, based out of NYC and Martha's Vineyard">
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="keywords" content="celeste glavin, glavin, web designer, web developer, portfolio, wessyway" />
  <meta property="og:title" content="Celeste Glavin">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://celesteglavin.com" />
  <meta property="og:image" content="http://celesteglavin.com/mstile-144x144.png" />
  <meta property="og:description" content="Celeste Glavin is a designer and developer of websites, based out of NYC and Martha's Vineyard" />
  <meta property="og:site_name" content="Celeste Glavin" />

  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles.css" type="text/css" />

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#59afd5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="./js/smoothscroll.js" type="text/javascript"></script>
  <script src="./js/script.js" type="text/javascript"></script>

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-70432770-5', 'auto');
    ga('require', 'linkid');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <div id="wrap">
    <header id="main-header">
      <h1>Celeste Glavin</h1>
      <h3>web design &amp; development</h3>
      <div class="arrow-down"></div><!-- arrow-down -->
    </header><!-- header#main-header -->

    <div class="content">
      <ul>
        <li id="photo-me"><img src="images/2.jpg" class="circle" /><h2>Making websites and apps for those who need them...</h2>
          <p>Check out <a href="#side-projects">some of my work</a> and feel free to <a href="#contact">reach out</a> if you have a project in mind.</p>
        </li>
        <li id="side-projects"><h2>Dynamic Sites &amp; Web/iOS Apps</h2>
          <p>Using an array of front-end and back-end techonologies, including Javascript/jQuery, React, React Native, EJS, ERB, Node.Js, Ruby on Rails, PSQL, MongoDB, and API's. </p>
          <ul class="gallery">
          <!-- SIMON -->
            <li>
              <img class="each" src="images/simon-screenshot-2-crop.png" alt=""><br>
              Simon<br>
              <em>memory game w/ audio</em><br><br>
              <div class="technologies bye">
                <p><strong>Technologies:</strong> jQuery &amp; synth</p>
                <p><strong>Limitations:</strong> best played in Chrome</p>
                <a href="https://github.com/cmugla/simon-game" target="_blank">See some code!</a><br>
                <a href="http://cmugla.github.io/simon-game/simon/" target="_blank">Play Game (hint: extra fun for large desktop monitors! Wait for it...)</a>
                <ul class="sub-gallery">
                  <li id="quick-play">Quick Play:<br>
                  <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: auto; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://cmugla.github.io/simon-game/simon/' style='border:0'></iframe></div>
                  <li>DEMO => Desktop Version:
                    <div class='embed-container'>
                      <iframe src='https://www.youtube.com/embed/tnR0WVFMmGM?rel=0&amp;controls=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>
                    </div>
                  </li>
                  <li>DEMO => Mobile/Tablet Version:<br>
                    <div class='embed-container'>
                      <iframe src='https://www.youtube.com/embed/rTS4Nv3pUNg?rel=0&amp;controls=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>
                    </div>
                  </li>
                </ul>
                <a href="#side-projects"><button class="close-project">Close</button></a>
              </div><!-- .technologies -->
            </li>
          <!-- HOOD GUIDE -->
            <li>
              <img class="each" src="images/hood-guide-crop.png" alt=""><br>
              'Hood Guide<br>
              <em>web app for those who just moved</em><br><br>
              <div class="technologies bye">
                <p><strong>Technologies:</strong> Javascript, NodeJs, EJS, MongoDB, NYTimes API, Yelp API, Eventful API</p>
                <p><strong>Limitations:</strong> best to use Chrome to open</p>
                <p><strong>Login test, use:</strong> email "bear" and password "bear" whose hood is Jamaica, Queens</p>
                <a href="https://hood-guide.herokuapp.com/" target="_blank">Open App</a><br>
                <a href="https://github.com/cmugla/hood_guide" target="_blank">See some code!</a>
                <ul class="sub-gallery">
                  <li>Homepage<br>
                    <img src="./images/hoodguide.png" />
                  </li>
                  <li>'Hood page<br>
                    <img src="./images/hoodguide-page.png" />
                  </li>
                  <li>Profile page<br>
                    <img src="./images/hoodguide-profile.png" />
                  </li>
                </ul>
                <a href="#side-projects"><button class="close-project">Close</button></a>
              </div><!-- .technologies -->
            </li>
          <!-- DO YOU LIKE IT KANYE -->
            <li>
              <img class="each" src="images/kanye-crop.png" alt=""><br>
              Do you like it, Kanye?<br>
              <em>web app for musicians who may question his opinion</em><br><br>
              <div class="technologies bye">
                <p><strong>Technologies:</strong> Ruby on Rails, jQuery, Kanye REST Counter API</p>
                <p><strong>Limitations:</strong> best to use in Chrome</p>
                <a href="https://like-it-kanye.herokuapp.com/" target="_blank">Open App</a><br>
                <a href="https://github.com/cmugla/approve-me-kanye" target="_blank">See some code!</a>
                <ul class="sub-gallery">
                  <li><img src="./images/kanye.png"></li>
                  <li><img src="./images/kanye-disapproves.png" /></li>
                  <li><img src="./images/kanye-sorta-approves.png" /></li>
                  <li><img src="./images/kanye-psyched.png" /></li>
                  <li><img src="./images/kanye-feed.png" /></li>
                </ul>
                <a href="#side-projects"><button class="close-project">Close</button></a>
              </div><!-- .technologies -->
            </li>
          <!-- FIND LOCAL, NY -->
            <li>
              <img class="each" src="images/farmer-crop.png" alt=""><br>
              Find Local, NY<br>
              <em>iOS app for finding farmer's markets in NY</em><br><br>
              <div class="technologies bye">
                <p><strong>Technologies:</strong> React Native, Nativebase, NodeJs, PSQL, NY Farmer's Markets API</p>
                <p><strong>Limitations: </strong>Not up on the app store, yet</p>
                <a href="https://github.com/cmugla/farmers-markt-finder" target="_blank">See some code!</a>
                <ul class="sub-gallery farmer">
                  <li>Homepage<br>
                    <img src="./images/farmer-home.png" />
                  </li>
                  <li>As a guest, the main feed of markets with an option for searching by zip code<br>
                    <img src="./images/farmer-guest-search.png" />
                  </li>
                  <li>When "Show More" is clicked, the posts made by Farmers are shown<br>
                    <img src="./images/farmer-guest-posts.png" />
                  </li>
                  <li>Farmers can login<br>
                    <img src="./images/farmer-login.png" />
                  </li>
                  <li>If a Farmer is registered at a market, that markets feed is shown in "Feed"
                    <img src="./images/farmer-feed.png" />
                  </li>
                  <li>Farmers can post updates about any specials they are bringing to their stand<br>
                    <img src="./images/farmer-post.png" />
                  </li>
                  <li>If a Farmer wants to find any other farmer's markets, they can search<br>
                    <img src="./images/farmer-search.png" />
                  </li>
                  <li>A Farmer's profile shows the Market they belong to and their most recent posts<br>
                    <img src="./images/farmer-profile.png" />
                  </li>
                </ul>
                <a href="#side-projects"><button class="close-project">Close</button></a>
              </div>
            </li>
            <!-- CURIOUS CANUCK -->
            <li><img class="each" src="./images/CuriousCanuck_header.png" alt=""><br>
              Curious Canuck<br>
              <em>web app for Canadian explorers</em><br><br>
              <div class="technologies bye">
                <p><strong>Technologies:</strong> Javascript, NodeJS, ReactJS, PSQL, Tugo API</p>
                <p><strong>Limitations:</strong> Best used in Chrome</p>
                <a href="https://curious-canuck.herokuapp.com/" target="_blank">Open app</a><br>
                <a href="https://github.com/curious-canuck/curious-canuck-app" target="_blank">See some code!</a>
                <ul class="sub-gallery">
                  <li>Homepage
                    <img src="./images/CuriousCanuck_Home.png" />
                  </li>
                  <li>Search, as a guest
                    <img src="./images/CuriousCanuck_SearchResult.png" />
                  </li>
                  <li>Search and comment, as a user
                    <img src="./images/CuriousCanuck_User.png" alt="">
                  </li>
                </ul>
                <a href="#side-projects"><button class="close-project">Close</button></a>
              </div>
            </li>
          </ul>
        </li>
        <li id="recent"><h2>Static Websites</h2>
          <p>Informational websites built for small businesses in various industries. While designing, I have a heavy focus on content strategy and web performance, in order to enhance the user experience and display the brand identity in a clear and concise way.</p>
          <ul class="gallery">
            <li><a href="http://flowersonthevineyard.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'fotv');"><img src="images/fotv.png" /><br>Flowers on the Vineyard<br><em>design &amp; build</em></a></li>
            <li><a href="http://aquadockmv.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'aquadock');"><img src="images/aquadock.png" /><br>Aquamarine Dockbuilders<br><em>design &amp; build</em></a></li>
            <li><a href="http://mvspearpoints.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'spearpoints');"><img src="images/mvspearpoint.png" /><br>MV Spearpoints<br><em>design &amp; build<br>collaboration with raglan</em></a></li>
            <li><a href="http://thebarnmv.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'barn');"><img src="images/barnmv.png"/><br>The Barn, Bowl, and Bistro<br><em>design &amp; build<br>collaboration with raglan</em></a></li>
            <li><a href="http://majicmv.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'majic');"><img src="images/majicmv.png" /><br>Majic Yacht Charters<br><em>design &amp; build</em></a></li>
            <li><a href="http://exovault.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'exovault');"><img src="images/exovault.png" /><br>EXOvault<br><em>design &amp; build<br>collaboration with raglan</em></a></li>
            <!-- <li><a href="http://mvskipper.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'mvskipper');"><img src="images/mvskipper.png" /><br>Skipper Fishing Charters<br><em>design &amp; build</em></a></li> -->
          </ul><!-- ul.gallery -->
        </li><!-- li#recent -->
        <!-- <li class="hideMobile"><h2>Coming Soon...</h2>
          <ul class="gallery">
            <li><a href="http://skipperpaintingmv.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'skipperpainting');"><img src="images/skipperpaint.png" /><br>Skipper Painting<br><em>coming soon...</em></a></li>
          </ul>
        </li> -->
        <li id="contact"><h2>Get in touch</h2>
          <ul class="list">
            <li><h3><a href="mailto:hello@celesteglavin.com?Subject=Hello%20(from%20the%20website)" onclick="ga('send', 'event', 'contact', 'click', 'email');">hello@celesteglavin.com</a></h3></li>
            <li><a href="https://www.linkedin.com/in/celeste-glavin-1702912a" target="_blank" onclick="ga('send', 'event', 'social', 'click', 'linkedin');">LinkedIn</a></li>
          </ul><!-- ul.list -->
        </li><!-- li#contact -->
        <li><h2>Online Portfolios</h2>
          <ul class="list">
            <li><a href="https://github.com/cmugla" target="_blank">GitHub<br><em>explore more fun coding/web projects</em></a></li>
            <li><a href="https://www.behance.net/celesteglavin" target="_blank" onclick="ga('send', 'event', 'social', 'click', 'behance');">Behance<br><em>product, furniture, conceptual, sculptural</em></a></li>
          </ul><!-- ul.list -->
        </li>
        <li id="friends"><h2>Shout Outs...</h2>
          <p>some projects from friends and family whom I have worked closely with</p><br>
          <ul class="list">
            <li><a href="http://texelnetworks.net/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'texel');">Texel Networks, Inc<br><em>Domain management and hosting services, Martha's Vineyard</em></a></li>
            <li><a href="http://raglan.nyc/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'raglan');">raglan<br><em>Collaborative design and development firm, NYC</em></a></li>
            <li><a href="http://decae.com/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'deca');">DECA, Inc.<br><em>Design-build firm, Martha's Vineyard</em></a></li>
            <li><a href="https://constantsmilesmusic.com/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'ben');">Constant Smiles Music<br><em>Musician and music lover, Earth</em></a></li>
            <li><a href="http://wvvy.org/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'wvvy');">wVvy 96.7 lpfm<br><em>Martha's Vineyard Community Radio</em></a></li>
            <li><a href="http://peacegate.org/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'peacegate');">Peacegate DOJO<br><em>sacred hall of learning, Martha's Vineyard</em></a></li>
          </ul><!-- ul.list -->
        </li><!-- li#friends -->
        <a href="#photo-me"><button>Back Up ⇧</button></a>
      </ul><!-- ul -->
    </div><!-- .content -->
    <footer>
      <img src="mstile-150x150.png" />
    </footer>
  </div><!-- #wrap -->
</body>
</html>
