<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Celeste Glavin</title>

  <meta name="description" content="Celeste Glavin is a designer and developer of websites, based out of NYC and Martha's Vineyard">
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="keywords" content="celeste glavin, glavin, web designer, web developer, portfolio, wessyway" />
  <meta property="og:title" content="Celeste Glavin">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://celesteglavin.com" />
  <meta property="og:image" content="http://celesteglavin.com/mstile-144x144.png" />
  <meta property="og:description" content="Celeste Glavin is a designer and developer of websites, based out of NYC and Martha's Vineyard" />
  <meta property="og:site_name" content="Celeste Glavin" />

  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles.css" type="text/css" />

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#59afd5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <script type='text/javascript' src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="js/smoothscroll.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-70432770-5', 'auto');
    ga('require', 'linkid');
    ga('send', 'pageview');
  </script>
</head>

<body>
	<div id="wrap">
  	<header id="main-header">
        <h1>Celeste Glavin</h1>
        <h3>web design &amp; development</h3>
        <div class="arrow-down"></div><!-- arrow-down -->
    </header><!-- header#main-header -->

    <div class="content">
      <ul>
        <li id="photo-me"><img src="images/2.jpg" class="circle" /><h2>Making websites for those who need them...</h2>
          <p>Check out <a onclick="smoothScr.anim('recent')">some of my work</a> and feel free to <a onclick="smoothScr.anim('contact')">reach out</a> if you have a project in mind.</p>
        </li>
        <li id="recent"><h2>Live Work Samples</h2>
          <ul class="gallery">
            <li><a href="http://flowersonthevineyard.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'fotv');"><img src="images/fotv.png" /><br>Flowers on the Vineyard<br><em>design &amp; build</em></a></li>
            <li><a href="http://aquadockmv.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'aquadock');"><img src="images/aquadock.png" /><br>Aquamarine Dockbuilders<br><em>design &amp; build</em></a></li>
            <li><a href="http://mvspearpoints.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'spearpoints');"><img src="images/mvspearpoint.png" /><br>MV Spearpoints<br><em>design &amp; build<br>collaboration with raglan</em></a></li>
            <li><a href="http://thebarnmv.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'barn');"><img src="images/barnmv.png"/><br>The Barn, Bowl, and Bistro<br><em>design &amp; build<br>collaboration with raglan</em></a></li>
<!--                        <li><a href="http://wvvy.org" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'majic');"><img src="images/wvvy.png" /><br>wVvy 96.7<br><em>design &amp; build</em></a></li>                     -->
            <li><a href="http://mvskipper.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'mvskipper');"><img src="images/mvskipper.png" /><br>Skipper Fishing Charters<br><em>design &amp; build</em></a></li>
            <li><a href="http://exovault.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'exovault');"><img src="images/exovault.png" /><br>EXOvault<br><em>design &amp; build<br>collaboration with raglan</em></a></li>
          </ul><!-- ul.gallery -->
        </li><!-- li#recent -->
        <li class="hideMobile"><h2>Just Live!</h2>
          <ul class="gallery">
            <li><a href="http://majicmv.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'majic');"><img src="images/majicmv.png" /><br>Majic Yacht Charters<br><em>design &amp; build</em></a></li>
            <li><a href="http://skipperpaintingmv.com" target="_blank" onclick="ga('send', 'event', 'work', 'click', 'skipperpainting');"><img src="images/skipperpaint.png" /><br>Skipper Painting<br><em>design &amp; build</em></a></li>
          </ul>
        </li>
        <li id="contact"><h2>Get in touch</h2>
          <h3><a href="mailto:hello@celesteglavin.com?Subject=Hello%20(from%20the%20website)" onclick="ga('send', 'event', 'contact', 'click', 'email');">hello@celesteglavin.com</a></h3>
          <h3><a href="https://www.linkedin.com/in/celesteglavin" target="_blank" onclick="ga('send', 'event', 'contact', 'click', 'linkedin');">LinkedIn</a></h3>
        </li><!-- li#contact -->
        <li id="portfolios"><h2>Online Portfolios</h2>
          <ul class="list">
            <li><a href="https://github.com/cmugla" target="_blank" onclick="ga('send', 'event', 'portfolios', 'click', 'github');">GitHub<br><em>fun with coding</em></a></li>
            <li><a href="https://www.behance.net/celesteglavin" target="_blank" onclick="ga('send', 'event', 'portfolios', 'click', 'behance');">Behance<br><em>woodworking and product design</em></a></li>
          </ul><!-- ul.list -->
        </li><!-- li#portfolios -->
        <li id="social"><h2>Social</h2>
          <ul class="list">
            <li><a href="https://www.instagram.com/wessyway/" target="_blank" onclick="ga('send', 'event', 'social', 'click', 'instagram');">Instagram</a></li>
            <li><a href="https://www.facebook.com/celeste.glavin" target="_blank" onclick="ga('send', 'event', 'social', 'click', 'facebook');">Facebook</a></li>
            <li><a href="https://soundcloud.com/celesteglavin" target="_blank" onclick="ga('send', 'event', 'social', 'click', 'soundcloud');">SoundCloud</a></li>
            <li><a href="https://play.spotify.com/user/22u6pr64dmhp4jymxoouuib2q" target="_blank" onclick="ga('send', 'event', 'social', 'click', 'spotify');">Spotify</a></li>
          </ul><!-- ul.list -->
        </li>
        <li id="friends"><h2>Friends</h2>
          <ul class="list">
            <li><a href="http://texelnetworks.net/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'texel');">Texel Networks, Inc<br><em>Domain management and hosting services, Martha's Vineyard</em></a></li>
            <li><a href="http://raglan.nyc/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'raglan');">raglan<br><em>Collaborative design and development firm, NYC</em></a></li>
            <li><a href="http://decae.com/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'deca');">DECA, Inc.<br><em>Design-build firm, Martha's Vineyard</em></a></li>
            <li><a href="http://studio-2x.com/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'studio_2x');">Studio 2X<br><em>Architecture firm, NYC</em></a></li>
            <li><a href="https://constantsmilesmusic.com/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'ben');">Constant Smiles Music<br><em>Musician and music lover, Earth</em></a></li>
            <li><a href="http://wvvy.org/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'wvvy');">wVvy 96.7 lpfm<br><em>Martha's Vineyard Community Radio</em></a></li>
            <li><a href="http://peacegate.org/" target="_blank" onclick="ga('send', 'event', 'friends', 'click', 'peacegate');">Peacegate DOJO<br><em>sacred hall of learning, Martha's Vineyard</em></a></li>
          </ul><!-- ul.list -->
        </li><!-- li#friends -->
        <button onclick="smoothScr.anim('photo-me')">Back Up ⇧</button>
      </ul>
    </div><!-- .content -->
    <footer>
        <img src="mstile-150x150.png" />
    </footer>
  </div><!-- #wrap -->
</body>
</html>
